[Unit]
Description=hook bootkit Service
Documentation=https://github.com/tinkerbell/hook
Requires=network.target
After=network.target

[Service]
Type=notify
#User=hook-bootkit
#Group=hook-bootkit
ExecStartPre=/usr/bin/hook-docker-setup.sh
ExecStart=/usr/bin/bootkit
StandardOutput=journal
StandardError=journal
RestartSec=600
Restart=on-failure

[Install]
WantedBy=multi-user.target
